.loginAll {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  padding: 20px;

  .loginLeft {
    width: 50%;
    max-height: 100%;
    min-height: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .from {
    width: 50%;
    background-color: #eee;
    padding: 0 20px;

    .loginCon {
      margin-top: 50%;
      transform: translateY(-50%);

      p {
        a {
          color: #000;
        }
      }
    }
  }
}
