.menuHeader {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;

  .menuImg {
    width: 100%;
    display: flex;
    justify-content: space-around;

    h2 {
      color: #fff;
    }
  }

  .menuBtn {
    width: 100%;
    button {
      width: 100%;
      padding: 0px 60px;
    }
  }
}
