.editor {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .head {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    span {
      button {
        margin: 0 10px;
      }
      input {
        border: none;
        outline: none;
        border-bottom: 1px solid blue;
      }
      Button {
        margin: 0 10px;
      }
    }
  }

  .main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;

    .left {
      width: 40%;
      overflow: auto;
      background-color: #fff;
    }
    .right {
      padding: 20px;
      width: 40%;
      overflow: auto;
      background-color: #fff;
    }
  }
}
