.work {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #eee;

  .charts {
    width: 95%;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;

    .head {
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
  }

  .celerity {
    width: 95%;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;

    .head {
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

    .tap {
      display: flex;
      justify-content: space-around;

      span {
        padding: 20px 0;

        a {
          color: #000;
        }
      }
    }
  }

  .article {
    width: 95%;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;

    .head {
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;

      span {
        a {
          color: #000;
        }
      }
    }

    .tap {
      > span {
        padding: 20px 0;

        a {
          color: #000;
        }
      }

      dl {
        width: 33%;
        float: left;
        margin: 0;
        padding: 0;
        background-color: #fff;
        border: 1px #eee solid;

        dd {
          padding: 30px;
          padding-bottom: 0;
          text-align: center;

          img {
            display: block;
            width: 100%;
            height: 100px;
          }
        }

        dt {
          text-align: center;
          padding-bottom: 30px;
        }
      }

      dl:hover {
        box-shadow: 5px 5px 5px #ccc;
        transform: scale(1.005, 1.005);
      }
    }

    table {
      a {
        margin: 0 10px;
      }

      b {
        font-weight: normal;

        .span_style {
          display: inline-block;
          width: 6px;
          height: 6px;
          background: #52c41a;
          border-radius: 50%;
          margin-right: 6px;
        }

        .spans_style {
          display: inline-block;
          width: 6px;
          height: 6px;
          background: #faad14;
          border-radius: 50%;
          margin-right: 6px;
        }
      }
    }
  }
}

.error_style {
  width: 300px;
  height: 400px;
  display: flex;
  text-align: center;
  line-height: 400px;
}
