.personal {
  background-color: eee;
  width: 100%;
  padding: 20px;
  justify-content: space-around;

  .personLeft {
    background-color: #fff;
    width: 49%;
    float: left;

    p {
      line-height: 50px;
      margin: 0;
      padding: 0;
      padding: 0 20px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        padding: 0 20px;
        border-top: 1px solid #eee;
        line-height: 50px;
      }
    }
  }

  .personRight {
    background-color: #fff;
    width: 49%;
    float: right;

    p {
      line-height: 70px;
      margin: 0;
      padding: 0;
      padding: 0 20px;
      border-bottom: 1px solid #eee;
      margin-bottom: 20px;
    }

    .tab {
      padding: 0 30px;
      text-align: center;
    }
  }
}
