.title {
  background: rgb(121, 242, 157);
}
.refreshdiv {
  position: relative;
  width: 100%;
  height: 25px;
}
.refresh {
  position: absolute;
  right: 20px;
  top: 15px;
}
.from {
  width: 95%;
  height: 200px;
  margin: 0px auto;
  margin-top: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.buttons > div > div > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.soulis {
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
}
.sou {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  padding: 5px;
}
.souin {
  width: 70%;
}
.mainlist {
  width: 95%;
  margin: 0px auto;
  margin-top: 30px;
  background: #fff;
}
