.content {
  padding: 40px;

  .upload {
    margin-bottom: 20px;
  }

  .from {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
  }

  .confoot {
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    Card {
      width: 25%;
    }
  }
  .page {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    padding-top: 40px;
    text-align: right;
  }
}
