.header_box {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  .input_box {
    width: 100%;
    height: 60px;
    padding-left: 20px;
    margin-top: 10px;
    Input {
      margin: 0 20px;
    }
  }
  .button_box {
    width: 100%;
    height: 60px;
    padding-left: 890px;
    margin-bottom: 10px;
  }
}
.content_box {
  width: 100%;
  height: vh;
  background-color: #fff;
  margin-top: 15px;
  .content_head {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    background-color: #fff;
  }
}
.numbers {
  display: inline-block;
  width: 30px;
  height: 20px;
  background-color: #52c41a;
  border-radius: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}
.ioo {
  margin-left: 1600px;
}
