.articles_head {
  width: 95%;
  height: 130px;
  background: #fff;
  margin: 35px auto;
}

.articles_input {
  display: flex;
  align-items: center;
  padding: 20px 5px;
  justify-content: space-around;
}

.articles_btn {
  float: right;
  margin-right: 40px;
}

.articles_main {
  width: 95%;
  background: #fff;
  margin: 25px 25px;
}
.articles_add {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.articles_table {
  margin: 25px auto;
}
