.table_btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.table_btn1 {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.table_table {
  margin-top: 20px;
}
.table_add {
  margin-top: 20px;
  float: right;
  display: flex;
  justify-content: space-around;
}
