* {
  list-style: none;
}
// .Access_statistics{
//   width: 100%;

//   .advanced_search{
//     width: 100%;
//     height: 100%;
//     .souli{
//       width: 100%;
//       height: 100%;
//       display: flex;
//      li{
//        width: 100%;
//        height: 100%;

//        h5{
//          display: inline-block;
//        }
//        .ant-input{
//          display: inline-block;
//          width: 50%;
//        }
//      }
//     }

//   }
// }

.souliebiao {
  width: 95%;
  height: 180px;
  margin: 0px auto;
  margin-top: 30px;
  background: #fff;
  position: relative;
}
.soubutton {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.soulis {
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
}
.sou {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;

  margin-top: 5px;
  padding: 5px;
}
.souin {
  width: 70%;
}
.mainlist {
  width: 95%;
  margin: 0px auto;
  margin-top: 30px;
  background: #fff;
}
.refreshdiv {
  position: relative;
  width: 100%;
  height: 25px;
}
.refresh {
  position: absolute;
  right: 20px;
  top: 15px;
}
